*.suo
SubsToolBox/Model/bin/
SubsToolBox/Model/obj/
SubsToolBox/Business/bin/
SubsToolBox/Business/obj/
SubsToolBox/Service/bin/
SubsToolBox/Service/obj/
SubsToolBox/SubsToolBoxWPF/bin/
SubsToolBox/SubsToolBoxWPF/obj/